*,
html,
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
}

body {
  padding: 25px;
}

.loader-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  
  .loader {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    background-color: #673AB7;
    animation: spinner .7s infinite linear;
    position: fixed;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    @keyframes spinner {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        to {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0
        }
    }
  }
}